<div class="category-card">
  <img
    mat-card-image
    src="{{ photo }}"
    class="photo"
    alt="Photo of a Shiba Inu"
  />
  <div class="photo-caption mat-body-1">Photo by Furcan and Hau</div>
  <div>
    <button mat-button class="btn-photo-info">
      <span class="mat-body-1">2k</span> LIKE
    </button>
    <button mat-button class="btn-photo-info">
      <span class="mat-body-1">32k</span> VIEWS
    </button>
    <button mat-button class="btn-photo-info">* * * *</button>
  </div>
</div>
<!-- <div fxFlex="20%" class="item">
  <img
    mat-card-image
    src="{{ photo }}"
    class="img"
    alt="Photo of a Shiba Inu"
  />
  <div class="photo-caption mat-body-1">Photo by Furcan and Hau</div>
  <div>
    <button mat-button class="btn-photo-info">
      <span class="mat-body-1">2k</span> LIKE
    </button>
    <button mat-button class="btn-photo-info">
      <span class="mat-body-1">32k</span> VIEWS
    </button>
    <button mat-button class="btn-photo-info">* * * *</button>
  </div>
</div> -->
