<mat-toolbar>
  <h1>
    <span class="logo logo-foto">Foto</span
    ><span class="logo logo-tree">Tree</span>
  </h1>
  <span class="menu-spacer"></span>

  <!-- Let menu link -->
  <div class="top-menu">
    <a mat-button [routerLink]="['home']"> Home </a>
    <a mat-button> About Us </a>
    <a mat-button> Contact Us </a>
    <a mat-button [routerLink]="['postphoto']"> Upload Photo </a>
    <a mat-button [routerLink]="['viewphoto']"> View Photo </a>
    
  </div>
  <span class="fill-space"></span>

  <!-- the right menu links -->
  <div class="top-menu">
    <a mat-button [routerLink]="['signup']"> Create Account </a>
    <a mat-button [routerLink]="['signin']"> Login </a>
  </div>
</mat-toolbar>
