<div class="main-container">
  <div class="left">
    <img [src]="url" alt="Photo placeholder" />

    <p>Photographer: Hau Furkan</p>
    <p>Likes: {{ likes }}</p>
    <p>Category: {{ category }}</p>
    <p>Description: Some description here...</p>
    <p>Price: {{ price }}</p>
  </div>

  <div class="right">
    <h4>Comment(s):</h4>

    <ul *ngFor="let comment of comments">
      <li>{{ comment.comment }} - {{ comment.date }}</li>
    </ul>

    <!-- <mat-form-field class="example-full-width"> -->
    <!-- <input matInput placeholder="Favorite food" value="Sushi"> -->
    <button mat-raised-button *ngIf="addCommentButton" (click)="onComment()">
      Add a Comment
    </button>
    <!-- <mat-form-field class="comment-textarea"> -->
    <input matInput *ngIf="commentTextbox" #text (keyup)="onKey($event)" />

    <!-- </mat-form-field> -->
    <!-- </mat-form-field> -->

    <br />
    <button
      mat-raised-button
      *ngIf="postCommentButton"
      (click)="onCommentPost()"
    >
      Post
    </button>

    <p *ngIf="feedbackText">Thanks for the feedback!</p>
  </div>
</div>
