
<img
  src="{{ user_photo }}"
  alt="User profile picture "
/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span>{{ fname }} {{ lname }}</span>
<br /><br />

<p>Category: {{ category }}</p>

<p>Description: {{ description }}</p>

<p>Price: {{ price }}$</p>

<br />
<img src="{{ photo_url }}" alt="Photo placeholder" />;
<p>Likes: &nbsp;&nbsp;&nbsp;{{ likes }}</p>
<br />

<button (click)="onLike()">Like</button>
<br />
<p *ngIf="liked">Photo is liked!</p>
<p *ngIf="disliked">Your like is canceled.</p>
<br />

<h4>Comments:</h4>
<Br />
<!-- <ul>
  <li *ngFor="let comment of comments">
    {{ comment.comment }} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.date }}
    <br /><br /><br /><br />
  </li>
</ul> -->

<p id="div" *ngFor="let comment of comments">
  {{ comment.comment }} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.date }}
  <br /><br /><br /><br />
</p>

<button *ngIf="addCommentButton" (click)="onComment()">Add a Comment</button>
<textarea *ngIf="commentTextbox" #text (keyup)="onKey($event)"> </textarea>
<br />
<br />
<button *ngIf="postCommentButton" (click)="onCommentPost()">
  Post
</button>
<br />
<p *ngIf="feedbackText">Thanks for the feedback!</p>
